@use "demo-03/settings/vars" as my-vars;
@use "demo-03/settings/more-vars" as mo-vars;

.foo {
  display: my-vars.$display; // block
  color: my-vars.$color; // black
}

.bar {
  display: mo-vars.$display; // flex
  color: mo-vars.$color; // red
}
